{% extends 'portdon/base.html' %}

{% block title %} portdon {% endblock %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/index.css' %}">
</head>

<body>
    <section>
        <div>
            Captivative Image
        </div>
    </section>
    <section class="homeglass">
        <div class="education">
            <h2>Education</h2>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
        </div>
        <div class="currentposition">
                <h2>current Position</h2>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
        </div>
        <div class="tecnologyviews">
            <h2>Technology views</h2>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
                <div class="education-item">
                    <h3>Degree Name</h3>
                    <p>Institution Name, Year</p>
                    <p>Description of the degree or coursework.</p>
                </div>
        </div>
    </section>
   
</body>
</html>

{% endblock %}
